.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.titulo{
  display: flex;
  flex-direction: row;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.subtitulo{
  display: flex;
  font-size: small;
  padding-bottom: 40px;
}

.claves{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recuperar-clave{
  text-transform: none !important;
}

.nueva-cuenta{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.solicita{
  margin-left: 5px;
}

a {
  text-decoration: none !important;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
